@model KapGel.Models.EntityFramework.db 
@{
    ViewBag.Title = "SifremiYenile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SifremiYenile", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ŞİFREMİ YENİLE</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.eMail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("email", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.eMail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("sifre", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Şifre Tekrarı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("SIFRETEKRA", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("SIFRETEKRAR", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.Label("Güvenlik Kodu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("kod", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("GUVENLIKKODU", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}